<!DOCTYPE html>
<html lang="en" ng-app="todos">
    <head>
        <meta charset="utf-8" />
        <title>OST Todos</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/bootstrap/css/bundle")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/#login" brand-link class="brand"><img src="~/Content/img/OST-Logo.png" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li ng-hide="isLoggedIn()"><a href="/#login">Login</a></li>
                            <li ng-hide="isLoggedIn()"><a href="/#register">Register</a></li>
                            <li><a ng-show="isLoggedIn()" href="#" ng-click="logout()">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" ng-view>
            @RenderBody()
        </div>
        
        <footer class="container">
            <p><a href="http://www.ostusa.com/app-dev" target="_blank">OST</a> &copy; 2013</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
    </body>
</html>
